<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>group</key>
	<string>Content</string>
	<key>title</key>
	<string>ExtraContent</string>
	<key>subtitle</key>
	<string>For ExtraContent enabled themes.</string>
	<key>CFBundleIdentifier</key>
	<string>info.extracontent.extracontent</string>
	<key>helpURL</key>
	<string>http://groups.google.ca/group/extracontent</string>
	<key>infoURL</key>
	<string>http://extracontent.info</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.3</string>
	<key>CFBundleVersion</key>
	<string>1.0.3</string>
	<key>templateFile</key>
	<string>template.html</string>
	<key>icon</key>
	<string>icon</string>
	<key>libraryImageFile</key>
	<string>icon.icns</string>
	<key>imageCrop</key>
	<string>1</string>
	<key>New item</key>
	<dict/>
	<key>customItems</key>
	<array>
		<dict>
			<key>id</key>
			<string>eca</string>
			<key>title</key>
			<string>ExtraContent #</string>
			<key>type</key>
			<string>input</string>
			<key>default</key>
			<string>1</string>
		</dict>
	</array>
</dict>
</plist>
